<div  class="mt-4 container-fluid d-flex flex-column p-3">
  <section class="border-bottom">
    <h1>Cadastro de pessoas</h1>
    <div class="row">
      <form class="col">
        <div class="form-group">
          <label>Nome</label>
          <input type="text" class="form-control" name="nome" required [(ngModel)]="pessoa.nome">
        </div>
        <div class="form-group">
          <label>CPF</label>
          <input type="text" class="form-control" name="cpf" required [(ngModel)]="pessoa.cpf" mask="000.000.000-00">
        </div>
        <div class="form-group">
          <label>RG</label>
          <input type="text" class="form-control" name="rg" required [(ngModel)]="pessoa.rg" mask="00.000.000-0">
        </div>
        <h2>Endereço</h2>
        <div class="form-group">
          <label>CEP</label>
          <input type="text" class="form-control" name="cep" required [(ngModel)]="pessoa.cep" mask="00000-000">
        </div>
        <div class="form-group">
          <label>Logradouro</label>
          <input type="text" class="form-control" name="logradouro" required [(ngModel)]="pessoa.logradouro">
        </div>
        <div class="form-group">
          <label>Complemento</label>
          <input type="text" class="form-control" name="complemento" required [(ngModel)]="pessoa.complemento">
        </div>
        <div class="form-group">
          <label>setor</label>
          <input type="text" class="form-control" name="setor" required [(ngModel)]="pessoa.setor">
        </div>
        <div class="form-group">
          <label>Cidade</label>
          <input type="text" class="form-control" name="cidade" required [(ngModel)]="pessoa.cidade">
        </div>
        <div class="form-group">
          <label>UF</label>
          <select class="form-control" name="UF" required [(ngModel)]="pessoa.uf">
            <option value="">Selecione</option>
            <option value="AC">Acre</option>
            <option value="AL">Alagoas</option>
            <option value="AP">Amapá</option>
            <option value="AM">Amazonas</option>
            <option value="BA">Bahia</option>
            <option value="CE">Ceará</option>
            <option value="DF">Distrito Federal</option>
            <option value="ES">Espírito Santo</option>
            <option value="GO">Goiás</option>
            <option value="MA">Maranhão</option>
            <option value="MT">Mato Grosso</option>
            <option value="MS">Mato Grosso do Sul</option>
            <option value="MG">Minas Gerais</option>
            <option value="PA">Pará</option>
            <option value="PB">Paraíba</option>
            <option value="PR">Paraná</option>
            <option value="PE">Pernambuco</option>
            <option value="PI">Piauí</option>
            <option value="RJ">Rio de Janeiro</option>
            <option value="RN">Rio Grande do Norte</option>
            <option value="RS">Rio Grande do Sul</option>
            <option value="RO">Rondônia</option>
            <option value="RR">Roraima</option>
            <option value="SC">Santa Catarina</option>
            <option value="SP">São Paulo</option>
            <option value="SE">Sergipe</option>
            <option value="TO">Tocantins</option>
          </select>
        </div>
      </form>
      <form class="col">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Telefone</th>
            <th>Descrição Telefone</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let telefone of pessoa.telefones; let i = index" (change)="verificaQuantidadeTelefones()">
            <td>
              <input type="text" class="form-control" name="telefone{{i}}"
                     mask="(00) 00000-0000"
                     [(ngModel)]="pessoa.telefones[i].telefone">
            </td>
            <td>
              <input type="text" class="form-control" name="descricao{{i}}" [(ngModel)]="pessoa.telefones[i].descricao">
            </td>
          </tr>
          </tbody>
        </table>
      </form>
      <div class="d-flex" *ngIf="!editando">
        <button type="submit" class="btn btn-primary mb-3 ms-auto" (click)="criarPessoa()">Gravar</button>
      </div>
      <div class="d-flex" *ngIf="editando">
        <button type="submit" class="btn btn-primary mb-3 ms-auto" (click)="atualizaPessoa()">Gravar</button>
        <button type="submit" class="btn btn-danger mb-3 ms-2" (click)="deletarPessoa(pessoa.id)">Excluir</button>
      </div>
    </div>
  </section>

  <section>
    <h1>Dados gravados</h1>
    <table class="table table-bordered">
      <thead class="text-center">
      <tr>
        <th (click)="sort('nome')">
          <i *ngIf="ordernar == 'asc' || nomeColuna !== 'nome'"
             class="bi bi-sort-alpha-up bg-transparent"></i>
          <i *ngIf="ordernar == 'desc' && nomeColuna === 'nome'"
             class="bi bi-sort-alpha-down bg-transparent"></i>
          Nome
        </th>
        <th (click)="sort('cpf')">
          <i *ngIf="ordernar == 'asc' || nomeColuna !== 'cpf'"
             class="bi bi-sort-numeric-up bg-transparent"></i>
          <i *ngIf="ordernar == 'desc' && nomeColuna === 'cpf'"
             class="bi bi-sort-numeric-down bg-transparent"></i>
          CPF
        </th>
        <th (click)="sort('rg')">
          <i *ngIf="ordernar == 'asc' || nomeColuna !== 'rg'"
             class="bi bi-sort-numeric-up bg-transparent"></i>
          <i *ngIf="ordernar == 'desc' && nomeColuna === 'rg'"
             class="bi bi-sort-numeric-down bg-transparent"></i>
          RG
        </th>
        <th (click)="sort('cep')">
          <i *ngIf="ordernar == 'asc' || nomeColuna !== 'cep'"
             class="bi bi-sort-numeric-up bg-transparent"></i>
          <i *ngIf="ordernar == 'desc' && nomeColuna === 'cep'"
             class="bi bi-sort-numeric-down bg-transparent"></i>
          CEP
        </th>
        <th (click)="sort('logradouro')">
          <i *ngIf="ordernar == 'asc' || nomeColuna !== 'logradouro'"
             class="bi bi-sort-alpha-up bg-transparent"></i>
          <i *ngIf="ordernar == 'desc' && nomeColuna === 'logradouro'"
             class="bi bi-sort-alpha-down bg-transparent"></i>
          Logradouro
        </th>
        <th (click)="sort('complemento')">
          <i *ngIf="ordernar == 'asc' || nomeColuna !== 'complemento'"
             class="bi bi-sort-alpha-up bg-transparent"></i>
          <i *ngIf="ordernar == 'desc' && nomeColuna === 'complemento'"
             class="bi bi-sort-alpha-down bg-transparent"></i>
          Complemento
        </th>
        <th (click)="sort('setor')">
          <i *ngIf="ordernar == 'asc' || nomeColuna !== 'setor'"
             class="bi bi-sort-alpha-up bg-transparent"></i>
          <i *ngIf="ordernar == 'desc' && nomeColuna === 'setor'"
             class="bi bi-sort-alpha-down bg-transparent"></i>
          Setor
        </th>
        <th (click)="sort('cidade')">
          <i *ngIf="ordernar == 'asc' || nomeColuna !== 'cidade'"
             class="bi bi-sort-alpha-up bg-transparent"></i>
          <i *ngIf="ordernar == 'desc' && nomeColuna === 'cidade'"
             class="bi bi-sort-alpha-down bg-transparent"></i>
          Cidade
        </th>
        <th (click)="sort('uf')">
          <i *ngIf="ordernar == 'asc' || nomeColuna !== 'uf'"
             class="bi bi-sort-alpha-up bg-transparent"></i>
          <i *ngIf="ordernar == 'desc' && nomeColuna === 'uf'"
             class="bi bi-sort-alpha-down bg-transparent"></i>
          UF
        </th>
        <th>Telefones</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let pessoa of pessoas | ordernarColuna: nomeColuna: ordernar;">
        <td>{{ pessoa.nome }}</td>
        <td>{{ pessoa.cpf }}</td>
        <td>{{ pessoa.rg }}</td>
        <td>{{ pessoa.cep }}</td>
        <td>{{ pessoa.logradouro }}</td>
        <td>{{ pessoa.complemento }}</td>
        <td>{{ pessoa.setor }}</td>
        <td>{{ pessoa.cidade }}</td>
        <td>{{ pessoa.uf }}</td>
        <td>
          <ul>
            <li *ngFor="let telefone of retiraTelefonesVazios(pessoa.telefones)">
              {{ telefone.telefone }} - {{ telefone.descricao }}
            </li>
          </ul>
        </td>
        <td>
          <button type="submit" class="btn btn-light" (click)="editarPessoa(pessoa.id)">Editar</button>
        </td>
      </tbody>
    </table>
  </section>
</div>
