<div  class="mt-4 container-xxl">
  <section class="border-bottom">
    <h1>Cadastro de pessoas</h1>
    <div class="row">
      <form class="col">
        <div class="form-group">
          <label>Nome</label>
          <input type="text" class="form-control" name="nome" [(ngModel)]="pessoa.nome">
        </div>
        <div class="form-group">
          <label>CPF</label>
          <input type="text" class="form-control" name="cpf" [(ngModel)]="pessoa.cpf">
        </div>
        <div class="form-group">
          <label>RG</label>
          <input type="text" class="form-control" name="rg" [(ngModel)]="pessoa.rg">
        </div>
        <h2>Endereço</h2>
        <div class="form-group">
          <label>CEP</label>
          <input type="text" class="form-control" name="cep" [(ngModel)]="pessoa.cep">
        </div>
        <div class="form-group">
          <label>Logradouro</label>
          <input type="text" class="form-control" name="logradouro" [(ngModel)]="pessoa.logradouro">
        </div>
        <div class="form-group">
          <label>Complemento</label>
          <input type="text" class="form-control" name="complemento" [(ngModel)]="pessoa.complemento">
        </div>
        <div class="form-group">
          <label>setor</label>
          <input type="text" class="form-control" name="setor" [(ngModel)]="pessoa.setor">
        </div>
        <div class="form-group">
          <label>Cidade</label>
          <input type="text" class="form-control" name="cidade" [(ngModel)]="pessoa.cidade">
        </div>
        <div class="form-group">
          <label>UF</label>
          <select class="form-control" name="UF" [(ngModel)]="pessoa.uf">
            <option value="">Selecione</option>
            <option value="AC">Acre</option>
            <option value="AL">Alagoas</option>
            <option value="AP">Amapá</option>
            <option value="AM">Amazonas</option>
            <option value="BA">Bahia</option>
            <option value="CE">Ceará</option>
            <option value="DF">Distrito Federal</option>
            <option value="ES">Espírito Santo</option>
            <option value="GO">Goiás</option>
            <option value="MA">Maranhão</option>
            <option value="MT">Mato Grosso</option>
            <option value="MS">Mato Grosso do Sul</option>
            <option value="MG">Minas Gerais</option>
            <option value="PA">Pará</option>
            <option value="PB">Paraíba</option>
            <option value="PR">Paraná</option>
            <option value="PE">Pernambuco</option>
            <option value="PI">Piauí</option>
            <option value="RJ">Rio de Janeiro</option>
            <option value="RN">Rio Grande do Norte</option>
            <option value="RS">Rio Grande do Sul</option>
            <option value="RO">Rondônia</option>
            <option value="RR">Roraima</option>
            <option value="SC">Santa Catarina</option>
            <option value="SP">São Paulo</option>
            <option value="SE">Sergipe</option>
            <option value="TO">Tocantins</option>
          </select>
        </div>
      </form>
      <form class="col">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Telefone</th>
            <th>Descrição Telefone</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let telefone of pessoa.telefones; let i = index" (change)="verificaQuantidadeTelefones()">
            <td>
              <input type="text" class="form-control" name="telefone{{i}}" [(ngModel)]="pessoa.telefones[i].telefone">
            </td>
            <td>
              <input type="text" class="form-control" name="descricao{{i}}" [(ngModel)]="pessoa.telefones[i].descricao">
            </td>
          </tr>
          </tbody>
        </table>
      </form>
      <div class="d-flex">
        <button type="submit" class="btn btn-primary mb-3 ms-auto" (click)="criarPessoa()">Gravar</button>
        <button type="submit" class="btn btn-danger mb-3 ms-2">Excluir</button>
      </div>
    </div>
  </section>
</div>
