<div  class="mt-4 container-xxl">
  <section class="border-bottom">
    <h1>Cadastro de pessoas</h1>
    <div class="row">
      <form class="col">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" id="nome">
        </div>
        <div class="form-group">
          <label for="cpf">CPF</label>
          <input type="text" class="form-control" id="cpf">
        </div>
        <div class="form-group">
          <label for="rg">RG</label>
          <input type="text" class="form-control" id="rg">
        </div>
        <h2>Endereço</h2>
        <div class="form-group">
          <label for="cep">CEP</label>
          <input type="text" class="form-control" id="cep">
        </div>
        <div class="form-group">
          <label for="logradouro">Logradouro</label>
          <input type="text" class="form-control" id="logradouro">
        </div>
        <div class="form-group">
          <label for="setor">setor</label>
          <input type="text" class="form-control" id="setor">
        </div>
        <div class="form-group">
          <label for="cidade">Cidade</label>
          <input type="text" class="form-control" id="cidade">
        </div>
        <div class="form-group">
          <label for="UF">UF</label>
          <select class="form-control" id="UF">
            <option value="">Selecione</option>
            <option value="AC">Acre</option>
            <option value="AL">Alagoas</option>
            <option value="AP">Amapá</option>
            <option value="AM">Amazonas</option>
            <option value="BA">Bahia</option>
            <option value="CE">Ceará</option>
            <option value="DF">Distrito Federal</option>
            <option value="ES">Espírito Santo</option>
            <option value="GO">Goiás</option>
            <option value="MA">Maranhão</option>
            <option value="MT">Mato Grosso</option>
            <option value="MS">Mato Grosso do Sul</option>
            <option value="MG">Minas Gerais</option>
            <option value="PA">Pará</option>
            <option value="PB">Paraíba</option>
            <option value="PR">Paraná</option>
            <option value="PE">Pernambuco</option>
            <option value="PI">Piauí</option>
            <option value="RJ">Rio de Janeiro</option>
            <option value="RN">Rio Grande do Norte</option>
            <option value="RS">Rio Grande do Sul</option>
            <option value="RO">Rondônia</option>
            <option value="RR">Roraima</option>
            <option value="SC">Santa Catarina</option>
            <option value="SP">São Paulo</option>
            <option value="SE">Sergipe</option>
            <option value="TO">Tocantins</option>
          </select>
        </div>
      </form>
      <form class="col">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Telefone</th>
            <th>Descrição Telefone</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <input type="text" class="form-control">
            </td>
            <td>
              <input type="text" class="form-control">
            </td>
          </tr>
          <tr>
            <td>
              <input type="text" class="form-control">
            </td>
            <td>
              <input type="text" class="form-control">
            </td>
          </tr>
          <tr>
            <td>
              <input type="text" class="form-control">
            </td>
            <td>
              <input type="text" class="form-control">
            </td>
          </tr>
          <tr>
            <td>
              <input type="text" class="form-control">
            </td>
            <td>
              <input type="text" class="form-control">
            </td>
          </tr>
          <tr>
            <td>
              <input type="text" class="form-control">
            </td>
            <td>
              <input type="text" class="form-control">
            </td>
          </tr>
          </tbody>
        </table>
      </form>
      <div class="d-flex">
        <button type="submit" class="btn btn-primary mb-3 ms-auto">Gravar</button>
        <button type="submit" class="btn btn-danger mb-3 ms-2">Excluir</button>
      </div>
    </div>
  </section>
</div>
